body{
  font-family: "Rubik Glitch Pop", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20 px;

}

.titulo{ 
  font-family: "Rubik Glitch Pop", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #000000;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 300;
}

.btn{
  padding: 10 px 20 px;
  font-size: 16px;
  cursor: pointer;

}

.gifs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: (10px);
  width: 800px;
}
.gifs img{
  width: 100px;
  height: auto;
  border-radius: 8px;
}
 
 