body {
  font-family: "Rubik Glitch Pop", system-ui;
  font-weight: 400;
  min-height: 100vh;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../img/fondoCorazonesBlancos.jpg'); /* Ruta relativa a la imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.titulo {
  font-family: "Rubik Glitch Pop", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
  color: #000000;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* 9 cajas para 9 gifs */
.gifs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 800px;
  
}

.gifs img {
  width: 100%;
  height: auto; /* Si ponemos un valor como por ejemplo, 200px, uno se asegura de que se establesca una altura fija para todos los GIFs */
  border-radius: 8px;
}
/* Si aplicamos object-fit: cover; uno se asegura que la imagen cubra el área sin distorsionarse */
